In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [2]:
dataset = pd.read_csv('fake_or_real_news.csv')
dataset.head()

,Unnamed: 0,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [3]:
print(dataset.shape)

(6335, 4)

In [4]:
dataset.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [8]:
print(dataset.title.isnull().sum())
print(dataset.text.isnull().sum())
print(dataset.label.isnull().sum())
# Check for None values in cells. The missing values can corrupt the final result
# there are 0 None values in this dataset

0
0
0

In [13]:
# remove the column: Unnamed: 0, to have cleaner data
dataset.drop(['Unnamed: 0'],axis=1,inplace=True)
dataset.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [19]:
x = np.array(dataset['title'])
y = np.array(dataset['label'])

cv = CountVectorizer()
x = cv.fit_transform(x)

In [20]:
# split dataset into train and test data
# use Multinomial Naive Bayes to train fake news detection model
# we got 80% of accuracy on test data
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2,random_state=42)
model = MultinomialNB()
model.fit(xtrain, ytrain)
print(model.score(xtest,ytest))

0.8074191002367798

In [36]:
# test model with any news title and see what result it would give
news_headline = "15 killed in elementary school shooting; gunman dead: Texas governor"
data = cv.transform([news_headline]).toarray()
print(model.predict(data))

['REAL']

In [48]:
news_headline = "Flying pig is seen in Canada"
data = cv.transform([news_headline]).toarray()
print(model.predict(data))

['FAKE']